development: &default
  adapter: postgresql
  encoding: unicode
  database: perx_url_shortner_dev
  min_messages: WARNING
  pool: 5
  username:

test:
  <<: *default
  database: perx_url_shortner_test
